
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(219, 223, 236);
    max-width: 100vw;
    overflow-x: hidden;
}

footer p {
    font-size: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#missionBtn {
    position: relative;
    z-index: 10000000000;
    left: 10px;
    top: 130px;
    padding: 15px;
    border-color: black;
    border-radius: 15px;
    background-color: rgba(240, 242, 248, 0.933);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

#analyticsBtn {
    position: relative;
    z-index: 10000000000;
    left: 10px;
    top: 40px;
    padding: 15px;
    border-color: black;
    border-radius: 15px;
    background-color: antiquewhite;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

#missionBtn:hover {
    border-color: grey;
}

#logout {
    position: relative;
    z-index: 10000000000;
    width: 70px;
    height: 70px;
    left: calc(100% - 118px);
    bottom: 55px;
    padding: 8px;
    border-color: black;
    border-radius: 100%;
    background-color: rgba(240, 242, 248, 0.947);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

#logout:hover {
    border-color: grey;
}

#toggleNodesBtn {
    position: relative;
    z-index: 100000000000;
    left: 10px;
    top: 35px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(239, 63, 63, 0.923);
    border-color: black;
    border-style: solid;
    font-weight: bold;
    border-width: 2px;
}

#toggleNodesBtn:hover {
    border-color: gray;
}

#map {
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
    box-shadow: inset 2px 2px 3px 1px gray;
    border-bottom-style: solid;
    border-color: rgba(173, 176, 195, 0.764);
    border-width: 1px;
    max-width: 100vw;
}

#nodeRoute {
    background-color: rgba(240, 242, 248, 0.899);
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 20px;
    text-align: center;
    z-index: 100000000000000000000000000;
    width: 300px;
    height: auto;
    position: relative;
    left: 10px;
    top: 10px !important;
}

#nodeRoute * {
    padding: 4px;
}

#locationRoute {
    background-color: rgba(240, 242, 248, 0.899);
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 20px;
    text-align: center;
    z-index: 100000000000000000000000000;
    width: 300px;
    height: auto;
    position: relative;
    left: 10px;
    top: 10px !important; 
}

#locationRoute * {
    padding: 4px;
}

.reload {
    position: relative;
    left: 35%;
    bottom: 16px;
    margin-top: 0px;
    padding-top: 0px;
}

.reload:hover {
    cursor: pointer;
}

.reloadSign {
    position: relative;
    top: 11px;
}

.slider {
    position: relative;
    top: 8px;
}

#seeMore {
    padding: 3px;
    margin-left: 20px;
    position: relative;
    height: 70px;
}

#seeLess {
    padding: 3px;
    margin-left: 20px;
    position: relative;
}

#plusSign {
    position: relative;
    top: 7px;
}

#minusSign {
    position: relative;
    top: 7px;
}

#plus:hover {
    cursor: pointer;
}

#plus {
    width: 280px;
}

#minus:hover {
    cursor: pointer;
}

#minus {
    width: 280px;
}

.routeBtn {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#map {
    height: 100%;
    width: 100%;
}
.popup-form input {
    width: 140px;
    margin-bottom: 5px;
}

.popup-form button {
    margin-right: 5px;
}
#map-wrapper {
    width: 100%;
    height: 60%;

}

@media(max-width: 700px){
    #map-wrapper{
        width: 100%;
        height: 80%;
    }
}
#devBtn {
    z-index: 1000000;
    position: relative;
    left: calc(100% - 145px);
    width: 120px;
    bottom: 30px;
    padding: 15px;
    border-color: black;
    border-radius: 15px;
    background-color: rgba(240, 242, 248, 0.933);
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

#devBtn:hover {
    border-color: gray;
}
