
<!-- Developer panel -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dev_panel.css') }}"/>
    <title>Dev Panel</title>
</head>
<body>
    <div id="topbar">
        <a id="backbutton" href="javascript: history.back()">< Back</a>
    </div>

    <form id="form" method="POST">
        <p>Use the form below with the username of the person you want to promote/demote to admin and your password.</p>

        <div>
            <input  type="text" id="username" class="input" name="username" required placeholder="User to promote/demote">
        </div>

        <br>

        <div>
            <input type="password" id="password" class="input" name="password" required placeholder="Your developer password">
        </div>

        <br>

        <div>
            <input type="radio" id="promote" name="action" value="promote" checked>
            <label for="promote">Promote</label>
            <input type="radio" id="demote" name="action" value="demote">
            <label for="demote">Demote</label>
        </div>

        <p id="error_message">{{ error }}</p>

        <button type="submit" id="submit">Submit</button>
    </form>
        

    <table id="auditlog">
        <tr>
            <th>changeID</th>
            <th>userID</th>
            <th>missionID</th>
            <th>time</th>
        </tr>

        {% for audit in audit_log %}

        <tr>
            <td>{{audit["changeID"]}}</td>
            <td>{{audit["userID"]}}</td>
            <td>{{audit["missionID"]}}</td>
            <td>{{audit["time"]}}</td>
        </tr>

        {% endfor %}

    </table>

        

    </div>
</body>
</html>