
<!-- For logging in -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='frontend_validation.js') }}" defer></script>
    <title>Log In</title>
</head>
<body>

    <div class="wrapper">
        <h1>Log In</h1>

        <form id="form" method="POST">
            <div>
                <input type="text" id="username_input" name="username" placeholder="Username">
            </div>

            <div>
                <input type="password" id="password_input" name="password" placeholder="Password">
            </div>

            <br>
            <p id="error_message">{{ error }}</p>

            <button type="submit">Log In</button>
        </form>

        <p>If you don't have an account <a href="signup">Sign Up</a></p>

    </div>
    
</body>
</html>